/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/** HTML elements **/
a:link, a:visited {
  text-decoration: none;
}

/** Branding helemaal bovenaan **/
.region-branding {
  padding-top: 20px;
}

#branding {
  float: left;
  width: 358px;
  height: 77px;
  background: url(../img/branding.png) no-repeat left top;
}

#branding p {
	display: none;
}

#logo {
  float: right;
  width: 257px;
  height: 68px;
  background: url(../img/logo.png) no-repeat left top;
  text-indent: -999em;
}


/** Menu **/
.zone-menu-wrapper {
  background: #e90068;
  height: 30px;
  margin-top: 15px;
}

.zone-menu-wrapper #block-system-main-menu ul {
  margin: 0;
  padding: 0;  
}

.zone-menu-wrapper #block-system-main-menu ul li {
  color: white;
  float: left;
  height: 30px;
  line-height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.zone-menu-wrapper #block-system-main-menu ul li a {
  border-right: 1px solid white;
  color: white;
	padding: 0 10px;
}

.zone-menu-wrapper #block-system-main-menu ul li.first a {
  border-left: 1px solid white;
}

.zone-menu-wrapper #block-system-main-menu ul li a.active {
 	text-decoration: underline;
}


/** Content **/
#section-content {
  background: url(../img/main_left_top.png) no-repeat left top;
}

#zone-content-wrapper {
  background: url(../img/main_right_bottom.png) no-repeat right bottom;
}

#block-system-main {
  margin-top: 10px;
  background: #4a4a49;
  border: 7px solid #353534;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: white;
}

/** Inschrijvingsformulier **/
#node-webform-1 .field-name-body {
  padding: 10px 30px;
  font-weight: 700;
}

#node-webform-1 #webform-component-left {
  float: left;
  width: 50%;
  padding-left: 30px;
}

#node-webform-1 #webform-component-right {
  float: left;
  width: 40%;
  padding-right: 30px;
}

#node-webform-1 #webform-component-workshops {
  clear: both;
  border-top: 7px solid #353534;
  padding: 0 30px;
}

#node-webform-1 #webform-component-left .webform-component label {
  width: 120px;
  float: left;
  margin-right: 20px;
  font-weight: 100;
  text-align: right;
}


/** Footer **/
#zone-footer-wrapper {
  height: 76px;
  background: url(../img/footer.png) no-repeat center bottom;
}

#zone-footer-wrapper #block-block-1 {
  text-indent: -999em;
}


