/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/** HTML elements **/
a:link, a:visited {
  text-decoration: none;
}

.form-required {
  display: none;
}

/** Layout override **/
.container-12 {
  width: 950px !important;
}

.container-12 .grid-12 {
  width: 930px !important;
}

/** Branding helemaal bovenaan **/
.region-branding {
  padding-top: 20px;
}

#branding {
  float: left;
  width: 362px;
  height: 77px;
  background: url(../img/branding.png) no-repeat left top;
}

#branding p {
	display: none;
}

#logo {
  float: right;
  width: 257px;
  height: 68px;
  background: url(../img/logo.png) no-repeat left top;
  text-indent: -999em;
}

#logo a {
  display: block;
  height: 68px;
  text-indent: -999em;
}

/** Menu **/
.zone-menu-wrapper {
  background: #e90068;
  height: 30px;
  margin-top: 15px;
}

.zone-menu-wrapper #block-system-main-menu ul {
  margin: 0;
  padding: 0;  
}

.zone-menu-wrapper #block-system-main-menu ul li {
  color: white;
  float: left;
  height: 30px;
  line-height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.zone-menu-wrapper #block-system-main-menu ul li a {
  border-right: 1px solid white;
  color: white;
	padding: 0 10px;
}

.zone-menu-wrapper #block-system-main-menu ul li.first a {
  border-left: 1px solid white;
}

.zone-menu-wrapper #block-system-main-menu ul li a.active {
 	text-decoration: underline;
}


/** Content **/
#section-content {
  background: url(../img/main_left_top.png) no-repeat left top;
}

#zone-content-wrapper {
  background: url(../img/main_right_bottom.png) no-repeat right bottom;
  min-height: 550px;
}

#region-content {
  margin-bottom: 20px;
}

#block-system-main {
  margin-top: 10px;
  background: #4a4a49;
  border: 7px solid #353534;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: white;
}

/** Static pages **/
.node-type-page .field-name-body {
  padding: 10px 30px;
}

/** Inschrijvingsformulier **/
#node-webform-1 a {
  color: white;
  text-decoration: underline;
}

#node-webform-1 .form-text {
  width: 250px;
}

#node-webform-1 .field-name-body {
  padding: 10px 30px;
  font-weight: 700;
}

#node-webform-1 .webform-component label {
  font-weight: 100;
}

#node-webform-1 #webform-component-left {
  float: left;
  width: 50%;
  padding-left: 30px;
}

#node-webform-1 #webform-component-right {
  float: left;
  width: 40%;
  padding-right: 30px;
}

#node-webform-1 #webform-component-workshops, #node-webform-1 #webform-component-voorwaarden {
  clear: both;
  border-top: 7px solid #353534;
  padding: 0 30px;
}

#node-webform-1 #webform-component-workshops {
  border-top: none;
}

#node-webform-1 #webform-component-bevestigen {
  clear: both;
  padding: 0 30px;
}

#node-webform-1 #webform-component-left .webform-component label {
  width: 120px;
  float: left;
  margin-right: 20px;
  font-weight: 100;
  text-align: right;
}

#node-webform-1 #webform-component-right div.form-type-radio {
  width: 70px;
  float: left;
  margin-right: 20px;
}

#node-webform-1 #webform-component-right #webform-component-right--gsm {
  clear: both;
  padding-top: 20px;
}

#node-webform-1 #webform-component-right #webform-component-right--gsm label {
  margin-bottom: 10px;
}

#node-webform-1 #webform-component-workshops {
  padding-top: 20px;
}

#node-webform-1 #webform-component-workshops h2,
#node-webform-1 #webform-component-bevestigen h2 {
  font-size: 14px;
  font-weight: bolder;
  font-family: Arial;
}

#node-webform-1 #edit-submit {
  width: 140px;
  height: 34px;
  background: url(../img/submit.png) no-repeat center center;
  border: none;
  cursor: pointer;
  text-indent: -999em;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  margin-left: 30px;
}

/*
/** Workshops animation **/
#node-webform-1 #webform-component-workshops ul.workshops {
  margin: 0;
  padding: 0;
  position: relative;
  height: 320px;
  width: 100%;
}

#node-webform-1 #webform-component-workshops ul.workshops li {
  list-style: none;
  float: left;
  width: 160px;
  height: 220px;
  margin-right: 10px;
  cursor: pointer;
}

#node-webform-1 #webform-component-workshops ul.workshops li .main {
  background: url(../img/workshops-sprite.png) no-repeat left top;
  height: 167px;
  text-indent: -999em;
}

#node-webform-1 #webform-component-workshops ul.workshops li .sub {
  position: absolute;
  top: 180px;
  left: -30px;
  width: 886px;
  padding-top: 30px;
  padding-left: 30px;
}

#node-webform-1 #webform-component-workshops ul.workshops li#ws-socialmedia .main {
  background-position: -157px 0;
}

#node-webform-1 #webform-component-workshops ul.workshops li#ws-socialintelligence .main {
  background-position: -319px 0;
}

#node-webform-1 #webform-component-workshops ul.workshops li#ws-influencing .main {
  background-position: -480px 0;
}

#node-webform-1 #webform-component-workshops ul.workshops li#ws-networking .main {
  background-position: -641px 0;
}

/* Tooltips */
#node-webform-1 #webform-component-workshops ul.workshops li#ws-prezi .sub {
  background: url(../img/bg-ws-prezi-sub.jpg) no-repeat left top;
}

#node-webform-1 #webform-component-workshops ul.workshops li#ws-socialmedia .sub {
  background: url(../img/bg-ws-sm-sub.jpg) no-repeat left top;
}

#node-webform-1 #webform-component-workshops ul.workshops li#ws-socialintelligence .sub {
  background: url(../img/bg-ws-socialintelligence-sub.jpg) no-repeat left top;
}

#node-webform-1 #webform-component-workshops ul.workshops li#ws-influencing .sub {
  background: url(../img/bg-ws-influencing-sub.jpg) no-repeat left top;
}

#node-webform-1 #webform-component-workshops ul.workshops li#ws-networking .sub {
  background: url(../img/bg-ws-networking-sub.jpg) no-repeat left top;
}


/** Footer **/
#zone-footer-wrapper {
  height: 76px;
  background: url(../img/footer.png) no-repeat center bottom;
}

#zone-footer-wrapper #block-block-1 {
  text-indent: -999em;
}

/** Sprekers **/
.page-sprekers .view-sprekers .item-list {
  padding: 30px;
}

.page-sprekers .view-sprekers ul.sprekers {
  margin: 0;
  padding: 0;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker {
  border-bottom: 2px solid #6e6e6d;
	list-style: none;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
	width: 620px;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .foto {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker.last {
  border-bottom: none;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .naam {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .intro {
  font-style: italic;
  margin-left: 115px;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .profiel li {
  list-style: disc;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .workshop {
  margin-bottom: 20px;
  font-weight: bolder;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .linkedin {
  position: absolute;
  top: 0px;
  right: 0px;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .linkedin a {
  display: block;
  width: 19px;
  height: 19px;
  text-indent: -999em;
  background: url(../img/spreker_linkedin.jpg) no-repeat left top;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .twitter {
  position: absolute;
  top: 0px;
  right: 13px;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .twitter a {
  display: block;
  width: 19px;
  height: 19px;
  text-indent: -999em;
  background: url(../img/spreker_twitter.jpg) no-repeat left top;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .button {
  margin-bottom: 15px;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .button .read-more-link {
  color: white;
  text-decoration: underline;
  margin-bottom: 20px;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .extra-text {
  clear: left;
}

.page-sprekers .view-sprekers ul.sprekers li.spreker .extra-text-inner {
  display: none;
}

/** Contact pagina **/
.page-node-9 #block-system-main {
  padding-top: 20px;
}